<%- include('Partials/header')%>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <!-- top User -->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="d-flex justify-content-start align-items-center mx-3 mt-2">
                <img src="/uploads/loresuser.jpg" style="width: 40px;" class="mr-2 rounded-circle" alt="...">
                <h5 class="mt-1 pt-1"><%=users[0].username%></h5>
                <span class="badge badge-pill badge-light mx-2">Conqueror</span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Team : <%=users[0].team[0].name%></h5>
                  <p class="card-text">LP : <%=users[0].loresPoints%> | Followers : <%=users[0].followers%> | LC : <%=users[0].loresCredits%> </p>
                </div>
              </div>
            <!-- currentUser -->
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
                <div class="d-flex justify-content-start align-items-center mx-3 mt-2">
                <img src="/uploads/loresuser.jpg" style="width: 40px;" class="mr-2 rounded-circle" alt="...">
                <h5 class="mt-1 pt-1"><%= currentUser.username%></h5>
                <span class="badge badge-pill badge-light mx-2">Warrior</span>
                <span class="badge badge-pill badge-light mx-2">
                    <%=users.findIndex(user => {
                        user._id == currentUser._id})%>
                </span>
                </div>
                <div class="card-body">
                  <h5 class="card-title">Team : <%=currentUser.team[0].name%></h5>
                  <p class="card-text">LP : <%=currentUser.loresPoints%> | Followers : <%=currentUser.followers%> | LC : <%=currentUser.loresCredits%></p>
                </div>
              </div>
        </div>
        <div class="col-8" style="overflow-y: scroll;">
            <%users.forEach((user,i) =>{%>
                <div class="media border p-2 rounded">
                    <img src="/uploads/loresuser.jpg" style="width: 60px;" class="mr-3 rounded-circle" alt="...">
                    <div class="media-body">
                      <h5 class="mt-0"><%=user.username%></h5>
                        <ul class="list-group">
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                LP : <%=user.loresPoints%> | Followers : <%=user.followers%> | LC : <%=user.loresCredits%>                                
                                <span class="badge badge-primary badge-pill"><%=i+1%></span>
                            </li>
                        </ul>
                    </div>
                </div>
            <%})%> 
        </div>
    </div>
</div>
<%- include('Partials/footer')%>